@use '../../App.scss';

#quotation {
    position: relative;

    color: App.$white;
    font-size: 3rem;
    letter-spacing: 7%;
    line-height: 2.8rem;

    width: 100%;
    height: 100vh;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: start;

    .line-break {
        position: absolute;
        height: 100%;
        bottom: 0;
        left: 0;
        border: solid;
    }
        
}