@use "../../App.scss";

@mixin card-size {
  height: 100vh;
  display: flex;
  align-items: center;

  @media (max-width: 850px) {
    flex-direction: column;
    height: max-content;
    margin: 5%;
  }
}

@mixin text {
  height: 100%;
  padding: 2%;
  font-size: 4vh;
  text-align: right;

  h2 {
    font-family: App.$header-font;
    padding-bottom: 2%;
    margin-bottom: 2%;
    border-bottom: App.$trim;
  }

  span {
    font-style: italic;
  }

  p {
    padding-top: 2%;
  }

  @media (max-width: 850px) {
    padding: 0;
    font-size: 3vh;
    text-align: left;
  }
}

@mixin image {
  height: 100%;
  width: 45%;
  object-fit: cover;

  @media (max-width: 850px) {
    height: 60vh;
    width: auto;
  }
}

#explore {
  color: App.$white;
  font-family: App.$regular-font;
  height: 100%;
  display: flex;
  flex-direction: column;

  .card {
    @include card-size;

    .card__img {
      @include image;
    }

    .card__detail {
      @include text;

      .card__desc {
        margin-bottom: 2em;
      }
    }

    a {
      @include App.link-styles;
      margin-top: 3em;
    }
  }

  #about {
    .card__detail {
      text-align: left;
      height: 100%;
    }

    @media (max-width: 850px) {
      flex-direction: column-reverse;
    }
  }
  
  #other-works {
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 2em;
    align-items: center;

    .works {
      height: 65vh;

      .work__img {
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }

      figcaption {
        font-size: 1.2em;
        text-align: center;
      }
    }
  }
}
